body {
    margin: 0;
    font-family: "Arial",sans-serif;
    background-color: #8dc63f;
}

.wrapper {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 960px;
    background-color: #fff;
    box-sizing: border-box;
}
.logo{
    align-items: center;
    display: flex;
}
.logo img{
    margin-left: 35px;
    transition: all 0.3s ease;
}
.logo img:hover{
    padding-left: 300px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}
.header p,
.contacts a{
    margin: 0;
    font-size: 22px;
    color: #39930d;
    text-decoration: none;
}
.contacts a{
    display: block;
    margin-bottom: 10px;
}
.header b,
.header strong{
    font-size: 44px;
    display: block;
}

.header i{
    font-size: 14px;
    color: #5a5a5a;
    font-style: italic;
    display: block;
}

.contacts i{
    text-align: right;
}

.content{
    max-width: 600px;
}

.content h1{
    font-size: 24px;
    color: #39930d;
    

}

.content p{
    font-size: 14px;
    line-height: 21px;
    color: #343434;
    
}

.image{
    width: 100%;
}
.main{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.menu{
    width: 300px;
}
.menu p{
    padding: 8px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #39930d;
}

.menu a{
    display: block;
    font-size: 14px;
    line-height: 14px;
    color: #39930d;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: all 0.45s ease;
}
.menu a:hover{
    padding-left: 40px;
    background-color: #343434;
    font-style: italic;
    color: #fff;
    text-decoration: none;
}
.menu ul{
    list-style: none;
    padding-left: 0;
}
.footer{
    
    margin: 0 -15px;
    background-color: #39930d;
    font-size: 14px;
    color: #fff;
    padding: 14px 15px;
}

